<% include ./partials/boilerplate %>


  <div class="sh">
    <h3><%= superhero.city %></h3>
    <p><%= superhero.country %></p>
    <div class="meta">
      <span class="city"><%= superhero.city %></span>
      <span class="country"><%= superhero.country %></span>
    </div>
      <a href="/superhero/<%=superhero.id%>/edit">Edit</a>
      <form method="POST" action="/superhero/<%=superhero.id%>?_method=DELETE">
        <input type="submit" value="Delete" />
      </form>
    </div>
    <form method="GET" action="/superhero/list/">
      <input type="submit" value="back to list" />
    </form>
  </div>

<% include ./partials/end %>
